# no emacs temp files
*~
# no tables files
*.tex
*.aux
*.log
*.pdf
*.png
LSFJOB*
# no python compiled files:
*pyc
# no python init file
*__init__.py
# no root files
*.root
# no strange folders
Analyzer/scripts/
Analyzer/python/
Analyzer/plot/
Analyzer/zprimebits*
Analyzer/*pfjets*
# no compiled
*.d
*.so
*.o
*.pyc
*.pcm
.__afs*
*docker*
*core.*
Analyzer/*.tgz
Analyzer/production/*_jobs*